/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Pixel Digivolve";
  src: url("./assets/Pixel Digivolve.otf");
}

@font-face {
  font-family: "Pixel Digivolve Italic";
  src: url("./assets/Pixel Digivolve Italic.otf");
}

body {
  background-color: aquamarine;
  font-family: "Pixel Digivolve";
  font-smooth: never;
  -webkit-font-smoothing: none;
}
